<% include ../partials/header %>

<h4>Dev to-do list</h4>

<!-- <form>
	<input type="text" name="toDoList" id="newInput" placeholder="New to-do">
	<button id="addBtn">Add</button>
</form>
 -->
<ul id="toDoList">
	<li>Routing / views
		<ul>
			<li>Error handling</li>
			<li>Invalid route handling</li>
			<li>'empty subject' & 'unused keyword' pages</li>
			<li>Styling in general!</li>
			<li>Confirmation step for delete requests</li>
			<li>'notify missing subject' link needs to do something</li>
			<li>Contact page / methods / social media link (twitter?)</li>
			<li>Intelligent routing from login page (eg when adding a comment, should be returned to that 'finding' once logged in)</li>
			<li class="done">404 page</li>
			<li class="done">Dynamic subject list</li>
			<li class="done">Basic user types & route validation (user, scientist, admin, +?)</li>
			<li class="done">'About' page</li>
		</ul>
	</li>
	<li>Core functionality
		<ul>
			<li>'New Finding' form server-side validation</li>
			<li>'New Finding' form word-count validation (client side only?)</li>
			<li>Preceded by / followed by</li>
			<li>Limit results per page, results-per-page logic etc</li>			
			<li>Validation of Scientist registration</li>
			<li>Sort out text case handling on keywords</li>
			<li class="done">Keyword linking</li>
			<li class="done">Author linking</li>
		</ul>
	</li>
	<li>User experience enhancements
		<ul>
			<li>Comment replies</li>
			<li>Dynamic comment loading (react.js)</li>
			<li>Sort comments by date</li>
			<li>Expansion of Finding schema citation to multiple fields</li>
			<li>User profile (particularly relevant to Scientist users)</li>
			<li>Audit history & permissions for 'finding' edits</li>
			<li>Image uploading & hosting (Amazon web bucket?)</li>
			<li>Homepage prettification</li>
			<li>Complex query building (eg show results BY author WITH keyword etc)</li>
			<li>'Subject' pages each headed by a short lay introduction to the subject</li>
			<li>Sort & filter results</li>
			<li>Colour coding of posts by category / subject</li>
			<li>Display image thumbnails in 'findings list'</li>
			<li>Display info relating to edits on 'show' & 'index' pages</li>
			<li>Link to user profile from comment author</li>
			<li>Ability to delete own comments</li>
			<li class="done">Keep TextArea paragraph formatting</li>
			<li class="done">Auto fill 'posted by' on new Findings, 'comment author' on new comments (from user profile)</li>
			<li class="done">Intelligently hide invalid buttons / routes for users lacking relevant permissions</li>
			<li class="done">Navbar subject list placeholder logic</li>
			<li class="done">Navbar collapse & display fixes</li>
			<li class="done">Navbar keyword search</li>
			<li class="done">Auto link of DOI</li>
			<li class="done">Paragraph formatting in textinput fields (background, finding, implications)</li>
			<li class="done">Sticky navbar on scroll</li>
		</ul>
	</li>
	<li>Back end / admin
		<ul>
			<li>Refactor css</li>
			<li>Add 'short ID' for posts, visible to Scientists (for use with prec by / followed by)</li>
			<li>Add 'short ID' for users?</li>
			<li>Minimize libraries, bootstrap</li>
			<li>Expand & improve seed database</li>
			<li>Cross-platform testing</li>
			<li>SASS css</li>
			<li class="done">Refactor 'new finding' route & mongoose schema</li>
		</ul>
	</li>
	<li>Things to clarify / discuss with Andy
		<ul>
			<li>Should the DOI be mandatory?</li>
			<li>Subject & Category tree structure = Category -> Subject group -> Subject</li>
			<li>Links from text of a 'finding' - talk further about what this might involve</li>
		</ul>
	</li>
</ul>

<!-- <script type="text/javascript">
	$('#addBtn').click(function() {
		$('#toDoList').append("<li>" + $('#newInput').val() + "</li>");
		$('#newInput').val("");
	})
</script> -->


<% include ../partials/footer %>