<% include ../partials/header %>

<h3>Showing Findings with "<%= keyword %>" in the title, or tagged as a keyword.</h3>
<h4>Select an article to learn more:</h3>

<% include ../partials/paginationDiv %>

<% include ../partials/findingsindex %>

<% include ../partials/paginationDiv %>

<% include ../partials/footer %>
