<% include ../partials/header %>

<script type="text/javascript" src="/js/wf_countable.js"></script>
<script type="text/javascript" src="/js/wf_newfinding.js"></script>

<h3>Post a new Finding</h3>
<hr />

<form action="/findings" method="POST" id="newFindingForm">
	<h4>Title</h4>
	<input required class="newFindingTextField" type="text" name="finding[title]" placeholder="A single sentence stating the main finding of the work, sufficient to give the lay reader an idea of the background and implications of the finding">

	<% include ../partials/categoryGroupSubjectDropdowns %>

	<br />
	<label for="finding[keywords]"><h4>Keywords </h4></label>
	<select multiple name="finding[keywords]" data-role="tagsinput" placeholder="Enter keyword(s)"></select>
	<h4 class="tagInfo">(use 'Enter' to separate keywords)</h4>

	<hr />

	<h4>Background
		<span class="wordCountSpan"><span id="newBackgroundWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea required id="newBackgroundTextArea" class="newFindingTextArea" name="finding[background]" form="newFindingForm" placeholder="Enter a summary of the article's Introduction in plain English"></textarea>

	<h4>Findings
		<span class="wordCountSpan"><span id="newFindingsWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea required id="newFindingsTextArea" class="newFindingTextArea" name="finding[findings]" form="newFindingForm" placeholder="Enter a summary of the article's findings in plain English"></textarea>

	<h4>Implications
		<span class="wordCountSpan"><span id="newImplicationsWordCountSpan">XXX</span> / 150</span>
	</h4>
	<textarea required id="newImplicationsTextArea" class="newFindingTextArea" name="finding[implications]" form="newFindingForm" placeholder="Enter a summary of the implications of the article's findings in plain English"></textarea>

	<h4>Accompanying image (optional)</h4>
	<h5>Enter image URL:</h5>
	<input type="url" class="newFindingTextField" name="finding[imageURL]" placeholder="Enter the URL of a visual abstract or other appropriate image to include with the article's findings">

	<!-- 	

		<input id="imageUploadData" type="hidden" type="file" name="finding[imageUpload]">
		<h5>Or upload your own file:</h5>
	 	<div class="uploadPopup" id="imageUploadForm">
			<form enctype="multipart/form-data">
				<input id="imageUploadInput" type="file" accept="image/*">
				<div id="imagePreview"></div>
				<button class="btn btn-primary" form="imageUploadForm" value="submit" id="imageUploadBtn">Submit</button>
			</form>
		</div>

	-->

	<hr />


<!-- Preceded by -->

	<label for="finding[precededBy]"><h4>Preceded by</h4></label>
	<div id="precedentFindings"></div>
	<input id="precedingID" type="text" placeholder="Preceding article ID">
	<div class="btn btn-primary" id="precedentSearchBtn">Add</div>
	<span class="titleSearchSpan">...or search for a Finding by title:</span>
	<input id="precedingTitleInput" type="text" placeholder="Preceding article Title">
	<div id="precedingSearchWarning" class="findingSearchWarning"></div>
	<div class="container">
		<div class="row searchRow">
			<div id="precedingSearchResults"></div>
		</div>
	</div>
	<hr />


<!-- Followed by -->

	<label for="finding[followedBy]"><h4>Followed by</h4></label>
	<div id="followingFindings"></div>
	<input id="followingID" type="text" placeholder="Following article ID">
	<div class="btn btn-primary" id="followingSearchBtn">Add</div>
	<span class="titleSearchSpan">...or search for a Finding by title:</span>
	<input id="followingTitleInput" type="text" placeholder="Following article Title">
	<div id="followingSearchWarning" class="findingSearchWarning"></div>
	<div class="container">
		<div class="row searchRow">
			<div id="followingSearchResults"></div>
		</div>
	</div>
	<hr />



<!-- Citation details -->

	<h4>Details of original research article</h4>

	<div class="row">
		<div class="citationDiv col col-lg-8 col-md-10 col-sm-12">

			<label for="finding[citation][DOI]" class="twoLineLabel">
				<h5 class="labelInline">DOI (Digital Object Identifier - optional)</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input type="text" name="finding[citation][DOI]" placeholder="DOI of original article" class="newFindingTextField" id="citation_DOI">

			<span id="checkDOI"><a href="#">Autocomplete from DOI</a></span>
			<div id="DOIWarning" class="findingSearchWarning"></div>
			
		</div>		
	</div>

	<div class="row">
		<div class="citationDiv col">
			<label for="finding[citation][authors]"><h5>Author(s)</h5></label>
			<select required multiple id="citation_authors" name="finding[citation][authors]" data-role="tagsinput" placeholder="Surname & initial(s)"></select>
			<h5 class="tagInfo">e.g. <strong>Darwin C</strong> (use 'Enter' to separate each author)</h5>
		</div>
	</div>
	<div class="row">
		<div class="citationDiv col col-lg-8 col-md-10 col-sm-12">

			<label for="finding[citation][title]" class="twoLineLabel">
				<h5 class="labelInline">Article title</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][title]" placeholder="Title of original article" class="newFindingTextField" id="citation_title">

			<label for="finding[citation][journal]" class="twoLineLabel">
				<h5 class="labelInline">Journal title</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][journal]" placeholder="Name of scientific journal" class="newFindingTextField" id="citation_journal">

			<label for="finding[citation][year]" class="twoLineLabel">
				<h5 class="labelInline">Year of publication</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input required type="text" name="finding[citation][year]" placeholder="Year" class="newFindingSmallTextField" id="citation_year">

			<label for="finding[citation][location]" class="twoLineLabel">
				<h5 class="labelInline">Location in journal, in format <strong>volume:location</strong> - e.g. <strong>5:49-52</strong> 
				<a href="http://www.scientificstyleandformat.org/Tools/SSF-Citation-Quick-Guide.html">(more info on citation format)</a></h5>
			</label>
			<input required type="text" name="finding[citation][location]" placeholder="Location" class="newFindingSmallTextField" id="citation_location">

			<label for="finding[citation][link]" class="twoLineLabel">
				<h5 class="labelInline">Link to original publication, if copyright allows (optional)</h5>
				<h5 class="labelInfo"></h5>
			</label>
			<input type="url" name="finding[citation][link]" placeholder="URL of original article" class="newFindingTextField">

		</div>
		<div class="col col-lg-4 col-md-2 col-sm-0"></div>
	</div>

	<hr />


<!-- Post author & submit btn -->

	<h4>Posting as <a href="#"><%= currentUser.username %></a></h4>
	<input hidden type="text" name="finding[postAuthor]" value="<%= currentUser.username %>">

	<button class="btn btn-primary" form="newFindingForm" value="submit" id="submitBtn">Submit</button>
	<a class="btn btn-danger" href="/findings">Cancel</a>

</form>


<% include ../partials/footer %>
