<% include ../partials/header %>

<h3>Showing Findings in <%= subject %>. Select an article to learn more:</h3>

<% include ../partials/paginationDiv %>

<% include ../partials/findingsindex %>

<% include ../partials/paginationDiv %>

<% include ../partials/footer %>
