
			<hr>
			<div class="footerBar container">
				<div class="row">
					<div class="footerSpan col col-md-3 col-sm-6">&copy; WikiFindings 2017</div>
					<div class="footerSpan col col-md-3 col-sm-6"><a href="/about">About WikiFindings</a></div>
					<div class="footerSpan col col-md-3 col-sm-6">Site by <a href="http://www.redmarsdigital.com">Red Mars Digital</a></div>
					<div class="footerSpan col col-md-3 col-sm-6">
						<span><a href="mailto:admin@wikifindings.net">Contact WikiFindings:</a> </span>
						<a href="mailto:admin@wikifindings.net" class="mutedLink footerIcon"><i class="fa fa-envelope" aria-hidden="true"></i></a>
						<a href="https://twitter.com/WikiFindingsNet" target="_blank" class="mutedLink footerIcon"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>