<!DOCTYPE html>
<html>
	<head>
		<title>Wikifindings</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/wikifindings.css">
		<link rel="stylesheet" type="text/css" href="/lib/font-awesome-4.7.0/css/font-awesome.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Nunito|Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Pridi|Enriqueta" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>	
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
		<script type="text/javascript" src="/js/wikifindings.js"></script>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">
	</head>
	<body>
		<div class="container">
			<div class="row headerRow">
				<div class="col col-sm-12 col-md-8 col-lg-6">
					<header class="jumbotron" id="headertron">
						<a href="/findings" class="mutedLink">
							<div class="container">
								<img class="headerLogo" src="/img/wf_placeholder_logo.png" />
								<h1 class="headerText">WikiFindings</h1>
							</div>
						</a>
					</header>
				</div>
				<div class="col col-sm-0 col-md-4 col-lg-6">
					<div class="headerImg"></div>
				</div>
			</div>

			<nav class="navbar navbar-default navbar-toggleable-sm" id="nav_bar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
						</button>
					</div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="mainNavbar">
						<ul class="nav navbar-nav navbar-left">
							<li><a href="/">Home</a></li>
							<li><a href="/findings">Findings</a></li>
							<li><a href="/subjects">Subjects</a></li>
							<% if(currentUser && currentUser.isAdministrator === true) { %>
							<li><a href="/tree">Admin</a></li>
							<% } %>
							<% if(currentUser && currentUser.isScientist === true) { %>
							<li>
								<form class="navbar-form" action="/findings/new">
					  				<button type="submit" class="btn btn-default btn-nav" >Post new Finding</button>
								</form>
							</li>
							<% } %>
							<li>
								<form id="keywordSearch" class="navbar-form form-inline" role="keyword" action="/findings/k?">
									<div class="form-group">
										<input id="keywordSearchInput" type="text" name="keyword" class="form-control" placeholder="Search for a keyword">
									</div>
									<button type="submit" class="btn btn-default btn-nav">Search</button>
								</form>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<% if(!currentUser) { %>
								<li><a href="/register">Register</a></li>
								<li><a href="/login">Log in</a></li>
			   				<% } else { %>
			   					<li><a href="/users/?username=<%= currentUser.username %>"><%= currentUser.username %></a></li>
								<li><a href="/logout">Log out</a></li>
							<% } %>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>

			<div class="container">
				<% if(success && success.length > 0) { %>
					<div class="alert alert-success" role="alert"><%= success %></div>
				<% } %>
				<% if(error && error.length > 0) { %>
					<div class="alert alert-danger" role="alert"><%= error %></div>
				<% } %>
			</div>


