<!DOCTYPE html>
<html>
	<head>
		<title>Wikifindings</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/wikifindings.css">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Pridi" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>	
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">
	</head>
	<body>
		<div class="container">
			<header class="jumbotron" id="headertron">
				<a href="/" class="mutedLink">
					<div class="container">
						<img class="headerLogo" src="/img/wf_placeholder_logo.png" />
						<h1 class="headerText">WikiFindings</h1>
					</div>
				</a>
			</header>



