<% include ../partials/header %>

<h4>Add your comment to:</h4>
<h3>"<%= finding.title %>"</h3>
<hr />

<form action="/findings/<%= finding._id %>/comments" method="POST" id="newCommentForm">
	<textarea placeholder="Your comment" class="newCommentText" name="comment[text]"></textarea>
	<h4>Commenting as <a href="#"><%= currentUser.username %></a></h4>
	<input hidden type="text" name="comment[author]	" value="<%= currentUser.username %>">
	<button class="btn btn-primary" form="newCommentForm" value="submit">Submit</button>
</form>


<% include ../partials/footer %>