<% include partials/header %>

<h3>About WikiFindings</h3>
<p>Welcome! Wikifindings is a dynamic repository of lay summaries of research articles.</p>
<p>If you are a researcher wanting to contribute please <a href="/register">create an account</a>.</p>
<p>If you are just curious, read on.</p>

<hr />

<h3>What is Wikifindings?</h3>
<p>The scientific, humanities and arts research literature is difficult for non-researchers to follow because it is written in specialist language and because most articles are expensive to access.</p>
<p>The inaccessibility of research to those who might use it hinders the application of new knowledge in businesses, policy-making, social work, conservation, agriculture and other fields.</p>
<p>WikiFindings will solve this problem by providing an online Wiki – created by researchers - consisting of short summaries of new research articles.</p>
<p>The summaries are around 300 words and written in Plain English. The summaries are linked together using keywords, important preceding findings, and links in the text allowing the user to learn about a topic in an intuitive way.</p>
<p>WikiFindings will therefore fill in the gaps left by the traditional press and online research journalism websites who report only sensational or contrary studies and do not allow the user to easily delve deeper in to the research.<p>
<p>The great advantage of using a wiki is that the site is edited by many people who will correct one other’s mistakes, tone down extravagant claims, and develop the connectedness between findings.
<p>Practioners will therefore be able to have immediate access to research findings, avoiding the current time lag between discoveries and the application of these discoveries.
<p>The two-way communication will also enable research collaborations between researchers and practitioners, including sharing of resources and knowledge.</p>
<p>The general public is more able to learn about and even participate in research.</p>

<hr />

<h3>How is it different to existing websites?</h3>
<ul>
	<li>Wikifindings is unique in that it directly connects researchers to other researchers and to the public, allowing two-way communication and the flow of ideas. It therefore allows the public to ask questions directly to researchers and provide suggestions for improving articles and further research. It also encourages collaboration and new research directions between researchers.</li>
	<li>Wikifindings is different to Wikipedia because it will describe new research, which is expressly forbidden on Wikipedia, which provides overviews of well-established concepts often written in a technical style.</li>
	<li>Wikifindings is different to research writing because it will cover a field without journalistic selectivity towards findings, allowing users to follow what is interesting to them, and allow people to encourage more contributions from authors on related findings.</li>
	<li>Wikifindings is different to live reviews at research journals because it is written in Plain English and be agreed on by all contributors.</li>
	<li>Wikifindings is different to comment boards and blogs because research is reported by the scientists that performed it and summaries are inter-connected, and blogs are selective of sensational findings.</li>
</ul>

<hr />

<h3>Contributing to WikiFindings</h3>
<p>WikiFindings is intended to enable scientists to communicate their findings to the general public.</p>
<p>Although it is impractical to control who edits WikiFindings, the intention is that the lead authors of articles published in a research journal provide a summary, written for
anyone to understand.</p>
<p>Articles should follow the <a href="http://www.plainenglish.co.uk/files/howto.pdf">Plain English Guide</a>.</p>
<p>A form is provided for the format of articles in which the summary is divided in to Background, Findings, and Implications.</p>
<p>WikiFindings entries are written for everyone to understand, but they are not press releases. That is, they should not appear as though written by a journalist and should not contain ‘quotes’ from the authors. The first person active voice is preferable.</p>
<p>WikiFindings is designed to be easily navigable, such that a casual reader can learn about the forefront of research on a topic by following links from one articles to the next. To
this end, in addition to the main summary each entry must be accompanied by the list of all authors of the study, the subject, and a list of keywords.<p>
<p>Contributors are also encouraged to provide a list of other entries on WikiFindings that influenced, or were influenced by, the current work.</p>

<hr />

<h3>Structure of Wikifinding Entries</h3>
<p>The summary consists of Background, Findings, and Implications.</p>
<p>Each should not exceed 150 words but be as short as possible whilst covering the important points. Authors should also provide in-text links to relevant keywords.</p>
<ul>
	<li><h4>Title</h4>
		<p>The title is written in plain English and states the main finding of the work, in such a way as to give the reader an idea of the background and implications of the finding. It should be as informative as possible so that the reader knows whether they are interested in the work, but a single sentence.</p></li>
	<li><h4>Background</h4>
		<p>The background provides a jargon-free introduction the topic, concentrating on the reason that the study was carried out. The Background should be a plain English summary of the Introduction of the article.</p></li>
	<li><h4>Findings</h4>
		<p>The findings summaries the Results section of the article, with reference to the methodology only if necessary to explain the results. Contributors should try to report fewer, more important, findings, rather than all the findings of a study. If a finding cannot be referred to in Implications due to its abstract or lab-based value, it will usually serve only to reduce the impact of the main findings.</p></li>
	<li><h4>Implications</h4>
		<p>The applications summaries those parts of the article’s Discussion that concern how the findings of the work may influence how non-scientists may think, act, and understand the world. Findings that will have great influence on how other scientists may understand or study a subject are valuable only if a lay reader will understand the importance of this application.</p></li>
	<li><h4>Preceded By</h4>
		<p>Authors are encouraged to provide up to five of the most pertinent articles that they cited in their article, linking to the WikiFindings entry if possible or to the journal article otherwise.</p></li>
	<li><h4>Followed By</h4>
		<p>As WikiFindings grows, it is expected that contributors will also provide a list of entries that cited the current entry. This will enable readers to follow a strand of research.</p></li>
	<li><h4>Authors</h4>
		<p>The author links lead to a list of all entries about articles on which that researcher is an author.</p></li>
	<li><h4>Subject</h4>
		<p>The subjects similarly lead to a list (or list of subjects). This uses the Categories feature of mediawiki.</p></li>
	<li><h4>Keywords</h4>
		<p>The keywords lead to a lists of other entries using the same keyword. This uses the Categories feature of mediawiki.</p></li>
	<li><h4>Article</h4>
		<p>The title and journal, volume, and pages of the original research article, with a link to the original article at the publisher’s or the author’s website. Note that it is often against copyright to provide copies of the final text of research articles, so caution should be used in deciding where to link to.</p>
		<p>Format: Surname AB (Year) Title. Full Journal Name Volume:FirstPage-LastPage</p></p></li>
	<li><h4>DOI (digital object identifier)</h4>
		<p>DOI (digital object identifier) of the original research article <a href="https://www.doi.org/">https://www.doi.org</a></p>
		<p>e.g. <strong>10.1111/j.1365-2656.2010.01786.x</strong></p></li>

<% include partials/footer %>
