<!DOCTYPE html>
<html>
	<head>
		<title>Wikifindings</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/wikifindings.css">
		<link rel="stylesheet" type="text/css" href="/css/wf_home.css">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+SC|Pridi" rel="stylesheet">
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="homepageDiv">
			<a href="/findings" class="mutedLink">
				<div class="homepageContents">
					<div class="homepageContentContainer">
						
							<img class="headerLogo" src="/img/wf_placeholder_logo.png" />
							<h1 class="headerText">WikiFindings</h1>
					</div>
					<hr>
					<div class="homepageContentContainer">
						<h3>The dynamic repository of lay summaries of research articles.</h3>
					</div>
				</div>
			</a>
		</div>
	</body>
</html>