<% include partials/header %>

<h3>Welcome to WikiFindings - the dynamic repository of lay summaries of research articles.</h3>

<a href="/findings">View the latest findings...</a>

<% include partials/footer %>