html {
	overflow-y: scroll;			/* prevents page moving a few pixels to the left on pages requiring scroll */
}

body {
	font-family: 'Pridi', serif;
}
hr {
	border-color: lightgrey;
}
.mutedLink {
	color: inherit;
	text-decoration: inherit;
} .mutedLink:hover, .mutedLink:focus {
	color: inherit;
	text-decoration: inherit;
}
#headertron {
	background: white;
	padding: 10px 0;
	margin: 20px 0;
}
.headerRow {
	display: flex;
	align-items: stretch;
	margin-bottom: 15px;
}
.headerText {
	font-family: 'Alegreya SC', serif;
	text-shadow: 10px 10px 10px rgba(0,0,0,0.1), 3px 3px 3px rgba(0,0,0,0.2);
	display: inline-block;
}
.headerLogo {
	margin-top: 15px;
	width: 80px;
	float: left;
	-webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
}
.headerImg {
	width: 100%;
	height: 100%;
	border-radius: 0 0 20px 20px;
	background: url('../img/wf_placeholder_banner2.jpg');
	background-size: cover;
}
.navbar-sticky {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.navbar-right {
	margin-right: 20px;
}

.newFindingTextField {
	width: 100%;
	margin-bottom: 10px;
}

.newFindingTextArea {
	width: 100%;
	height: 200px;
}

.btn-nav {
	margin: 0;
}

.wordCountSpan {
	float: right;
	font-size: 0.75em;
}
.overWordCount {
	color: red;
}

/*	Findings thumbnails	*/
.fThumbDiv {
	width: 100%;
	padding: 20px 20px 5px 20px;
	margin: 20px 0;
	border: 1px solid lightgrey;
	border-radius: 10px;
	position: relative;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.fThumbSubject {
	position: absolute;
	max-width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	top: -5px;
	left: -5px;
	border: 1px solid darkgrey;
	border-radius: 2px;
/*	padding: 0 10px 0 70px;*/
	padding: 0 10px 0 30px;
	background: lightgrey;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.fThumbColorDiv {
	width: 20px;
	height: 20px;
	background: lightgrey;
	position: absolute;
	border-right: 1px solid darkgrey;
}
.fThumbCategoryColorDiv {
	left: 0;
} .fThumbSubjectGroupColorDiv {
	left: 21px;
} .fThumbSubjectColorDiv {
/*	left: 42px;*/
	left: 0;
}
.fThumbTags {
	position: absolute;
	max-width: 65%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	top: -5px;
	right: 5px;
	border: 1px solid darkgrey;
	border-radius: 2px;
	padding: 0 10px;
	background: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.fThumbPostedBy {
	color: darkblue;
}
.fThumbDate {
	text-align: right;
	position: absolute;
	right: 20px;
}
form select {
	margin-right: 30px;
}
#newPublicationDate {
	display: inline-block;
}
.twoLineLabel {
	clear: both;
	width: 100%;
	margin-bottom: 0;
}
.twoLineLabel h5 {
	margin-bottom: 0;
}
.labelInfo {
	font-size: 1em;
	display: inline-block;
	font-weight: normal;
	float: right;
}
.labelInline {
	display: inline-block;
	margin-right: 30px;
	float: left;
}
.tagInfo {
	font-size: 1em;
	display: inline-block;
	font-weight: normal;
}
.citationDiv {
	padding-left: 40px;
}
.greyedOut {
	color: lightgrey;
}

.subjListDropdown {
	display: block;
} .subjListDropdownLabel {
	width: 100px;
}

/* Show page fomatting */
.shownBox {
	border: 1px solid lightgrey;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.15), 10px 10px 15px rgba(0,0,0,0.1), 25px 25px 25px rgba(0,0,0,0.05);
	border-radius: 10px;
}
.shownTitle {
	padding: 50px;
	margin: 0;
	line-height: 120%;
}
.shownImage {
	max-width: 100%;
	padding: 20px;
}
.shownP {
	padding: 25px 50px;
	font-size: 1.2em;
	background: #e8e8e8;
	white-space: pre-wrap;		/* Preserves paragraph formatting, but wraps within element */
}
.shownHeader {
	margin-top: 30px;
}
.shownFindingBtns {
	margin: 10px;
}
.infoPane {
	padding: 50px 20px;
} .infoPaneLabel {
	margin-top: 0;
} .infoPaneInfo {
	margin-left: 20px;
}
.showCitationInfo {
	margin-left: 20px;
}
.inlineForm {
	display: inline-block;
}
.shownComment {
	background: lightgrey;
	border-radius: 10px;
	padding: 10px 25px;
	margin: 10px 25px;
	display: flex;
	flex-direction: column;
} .shownCommentText {
	white-space: pre-wrap;		/* Preserves paragraph formatting, but wraps within element */
	margin-bottom: 10px;
} .shownCommentInfo {
	color: blue;
	width: 100%;
} .shownCommentAuthorDateDiv {
	float: left;
} .shownCommentButtonsDiv {
	float: right;
}
.newCommentText {
	width: 100%;
	height: 150px;
}

.registerFormDiv {
	display: block;
}
.registerLabel {
	width: 100px;
	display: inline-block;
}

.tooltip {
	position: relative;
    display: inline-block;
    opacity: 1;
} .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 14px 10px 10px 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    margin-left: -5px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} .tooltiptext ul {
	padding-left: 20px;
} .tooltiptext li {
	margin-top: 10px;
}

.nav-dropdown {
	padding-left: 10px;
}
.searchSubjectCategoryName {
	margin-top: 16px;
}
.searchSubjectGroupName {
	margin-top: 8px;
	margin-left: 8px;
	font-style: italic;
} .searchSubjectGroupName::before {
	content: "-";
}
.searchSubjectSubjectName {
	margin-left: 16px;
}
.nav-dropdown {
	max-height: 400px;
	overflow-y: auto;
}

/*	Subject index */
.subjectThumbs {
}
.subjectThumbContainer {
	padding: 10px;	
}
.subjectThumbOverlay {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.2);
	padding: 10px 20px;
}
.subjectThumbDiv {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.15), 10px 10px 15px rgba(0,0,0,0.1), 25px 25px 25px rgba(0,0,0,0.05);
	border-radius: 10px;
	height: 300px;
}
.subjectThumbTitle {
	color: black;
	background: white;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.15), 10px 10px 15px rgba(0,0,0,0.1), 25px 25px 25px rgba(0,0,0,0.05);
	visibility: visible;
}
.transparent {
	background: rgba(0,0,0,0);
}

.accTypeInfoLink {
	margin-top: 10px;
}
.inlineLink {
	border-bottom: 1px dotted blue;
	padding-bottom: 2px;
}



.precedentTitle {
	width: 100%;
	background: lightgrey;
	margin-bottom: 10px;
} .precedentTitle input {
	margin-right: 10px;
}


/*	Subject tree */
.tree h3 {
	margin: 0 0 5px 0;
} .tree ul {
	margin: 0;
}
.subjListColorDiv {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: white;
	top: 2px;
	position: relative;
	border: 1px solid lightgrey;
}
.subjListHeader {
	display: inline-block;
	padding: 0;
	margin: 0;
}
#newColorDiv {
	position: relative;
	top: 6px;
	margin-left: 10px;
}


/* Todo list only - remove for production */
.done {
	color: darkgrey;
	text-decoration: line-through;
}
.styleSq {
	position: relative;
	display: inline-block;
	top: 5px;
	margin-right: 5px;
}

