<% include ../partials/header %>

<h4>User profile of <%= user.username %></h4>

<% if(user.publicBio) { %>
	<p class="shownComment shownCommentText"><%= user.publicBio %></p>

<% } %>

<hr />

<% if(findings.length > 0) { %>
	<h4><%= user.username %> has posted <%= findings.length %> Finding<% if(findings.length > 1) { %>s<% } %> :</h4>
	<% findings.forEach(function(finding) { %>
		<% include ../partials/indexedFinding %>
	<% }); %>

<% } %>

<% include ../partials/footer %>