<% include ../partials/header %>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
	function onSubmit(event) {
		// document.getElementById('registerForm').submit()
		const response = grecaptcha.getResponse()
		// console.log(response)
		event.preventDefault()
		if (!response.length) {
			alert('please verify that you are human!')
			return false
		} else {
			document.getElementById('registerForm').submit()
			return false
		}
	}
</script>

<div class="row">
	<div class="col col-xs-0 col-sm-2 col-md-3"></div>
	<div class="col col-xs-12 col-sm-8 col-md-6">
		<h3>Sign up for a WikiFindings account</h3>
		<form id="registerForm" onsubmit="return onSubmit(event);" action="/register" method="POST" name="register">
			<div class="registerFormDiv">
				<h5 class="registerLabel">Username: </h5>
				<input id="usernameInput" required type="text" name="user[username]" placeholder="Username" pattern="[a-zA-Z0-9_]{5,20}" onblur="checkUsername();">
				<i class="fa fa-info-circle tooltip" aria-hidden="true">
					<span class="tooltiptext">Usernames must:
						<ul>
							<li>be 5 - 20 characters long</li>
							<li>include letters, numbers and/or underscore characters only</li>
						</ul>
					</span>
				</i>
				<span class="inlineWarning" id="usernameWarningSpan"></span>
			</div>

			<hr />

			<div class="registerFormDiv">
				<h5 class="registerLabel">Email: </h5>
				<input required type="email" name="user[email]" id="email" placeholder="Email" onblur="checkEmails();">
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Confirm: </h5>
				<input required type="email" name="confirmEmail" id="confirmEmail" placeholder="Confirm email" onblur="checkEmails();">
				<span class="inlineWarning" id="emailWarningSpan"></span>
			</div>

			<hr />

			<div class="registerFormDiv">
				<h5 class="registerLabel">Password: </h5>
				<input required type="password" name="password" id="password" placeholder="Password" minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,20}" onblur="checkPasswords();">
				<i class="fa fa-info-circle tooltip" aria-hidden="true">
					<span class="tooltiptext">Passwords must:
						<ul>
							<li>be 8 - 20 characters long</li>
							<li>include at least one letter</li>
							<li>include at least one number</li>
						</ul>
					</span>
				</i>
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Confirm: </h5>
				<input required type="password" name="confirmPassword" id="confirmPassword" minlength="8" maxlength="20" placeholder="Confirm password" onblur="checkPasswords();">
				<span class="inlineWarning" id="passwordWarningSpan"></span>
			</div>

			<hr />

			<h5>Type of account</h5>

			<div class="radio">
				<label><input type="radio" name="isScientist" value=false checked="checked" onchange="scientistCheck()">Regular user</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="isScientist" value=true onchange="scientistCheck()">Scientist</label>
			</div>
			<div class="registerFormDiv ORCIDDiv hiddenDiv">
				<a href="https://orcid.org/"><h5 class="registerLabel">ORCID iD: </h5></a>
				<input id="ORCIDiD" type="text" name="user[ORCIDiD]" placeholder="ORCID iD">
			</div>

			<script type="text/javascript">
				$(function() {
					$('#ORCIDiD').mask('9999-9999-9999-999*');
				});
			</script>

			<p class="accTypeInfoLink"><span class="inlineLink">What's the difference between account types?</span></p>
			<div class="accTypeInfo hiddenDiv">
				<p>With a <strong>Regular user</strong> account, you can explore all of the research posted on WikiFindings and join in the discussion by commenting on articles.</p>
				<p>If you are a researcher looking to contribute further, a verified <strong>Scientist</strong> account will also allow you to post new research articles and propose edits to existing articles.</p>
			</div>

			<hr />

			<div class="registerFormDiv">
				<h5>Public bio (optional, visible to all users): </h5>
				<textarea type="textArea" class="publicBio" name="user[publicBio]" rows="3" placeholder="A sentence or two to describe yourself to other users of the site"></textarea>
			</div>

			<input type="text" name="source" value="wikifindings-signup-form-v1" class="hiddenDiv">

			<hr />
			<div class="g-recaptcha" data-sitekey="6LcXjS8aAAAAAI53jyNAaQsK7cOtp_reIr0fc1XR"></div>
			<button class="btn btn-primary" role="submit">Submit</button>
		</form>
	</div>
	<div class="col col-xs-0 col-sm-2 col-md-3"></div>
</div>

<script type="text/javascript">
	scientistCheck();
	$('.accTypeInfoLink').click(function() { console.log("click"); $('.accTypeInfo').toggle('fast'); });
	function scientistCheck() {
		if(register.isScientist.value == 'true') {
			$('.ORCIDDiv').show('fast');
			$('#ORCIDiD').attr('required', '');
		} else {
			$('.ORCIDDiv').hide('fast');
			$('#ORCIDiD').removeAttr('required');
		}
	}
	function checkEmails() {
		$('#emailWarningSpan').html('');
		if($('#confirmEmail').val() && $('#email').val() != $('#confirmEmail').val()) {
			$('#emailWarningSpan').html("<span class='warningSpan'>Warning - emails do not match!</span>");
		} else {
			if($('#email').val().trim() != '') {												//	Execute if input is not empty or just whitespace
				var URL = "/users/e/" + $('#email').val();										//	Get string currently contained in Username field & convert to URL
				$.ajax({
					type: "GET",
					url: URL,
					error: function() {															//	Error handling, shouldn't ever be hit
						$('#emailWarningSpan').html("<span class='warningSpan'>Database error!</span>");
					},
					success: function(res) {
						$('#emailWarningSpan').html("<span class='warningSpan'>" + res.message + "</span>");
					}
				});
			}
		}
	}
	function checkPasswords() {
		if($('#confirmPassword').val() && $('#password').val() != $('#confirmPassword').val()) {
			$('#passwordWarningSpan').text('Warning - passwords do not match!');
		} else {
			$('#passwordWarningSpan').text('');
		}
	}
	function checkUsername() {
		$('#usernameWarningSpan').html("");													//	Clear any previous warning
		if($('#usernameInput').val().trim() != '') {										//	Execute if input is not empty or just whitespace
			var URL = "/users/u/" + $('#usernameInput').val();								//	Get string currently contained in Username field & convert to URL
			$.ajax({
				type: "GET",
				url: URL,
				error: function() {															//	Error handling, shouldn't ever be hit
					$('#usernameWarningSpan').html("<span class='warningSpan'>Database error!</span>");
				},
				success: function(res) {
					$('#usernameWarningSpan').html("<span class='warningSpan'>" + res.message + "</span>");
				}
			});
		}
	}
</script>

<% include ../partials/footer %>