<% include ../partials/header %>

<div class="row">
	<div class="col col-xs-0 col-sm-2 col-md-3"></div>
	<div class="col col-xs-12 col-sm-8 col-md-6">
		<h3>Sign up for a WikiFindings account</h3>
		<form action="/register" method="POST" name="register">
			<div class="registerFormDiv">
				<h5 class="registerLabel">Username: </h5>
				<input required type="text" name="username" placeholder="Username">
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Password: </h5>
				<input required type="password" name="password" placeholder="Password" minlength="8" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
				<i class="fa fa-info-circle tooltip" aria-hidden="true">
					<span class="tooltiptext">Passwords must:
						<ul>
							<li>Be at least 8 characters long</li>
							<li>Include at least one letter</li>
							<li>Include at least one number</li>
						</ul>
					</span>
				</i>
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Confirm: </h5>
				<input required type="password" name="confirm" placeholder="Confirm password">
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Email: </h5>
				<input required type="email" name="email" placeholder="Email">
			</div>
			<h5>Type of account</h5>

			<div class="radio">
				<label><input type="radio" name="isScientist" value=false checked="checked" onchange="scientistCheck()">Regular user</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="isScientist" value=true onchange="scientistCheck()">Scientist</label>
			</div>
			<div class="registerFormDiv ORCIDDiv" style="display: none;">
				<a href="https://orcid.org/"><h5 class="registerLabel">ORCID iD: </h5></a>
				<input required type="text" name="ORCIDiD" placeholder="ORCID id">
			</div>

			<p class="accTypeInfoLink"><span class="inlineLink">What's the difference between account types?</span></p>
			<div class="accTypeInfo" style="display: none">
				<p>With a <strong>Regular user</strong> account, you can explore all of the research posted on WikiFindings and join in the discussion by commenting on articles.</p>
				<p>If you are a researcher looking to contribute further, a verified <strong>Scientist</strong> account will also allow you to post new research articles and propose edits to existing articles.</p>
			</div>

			<hr />

			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col col-xs-0 col-sm-2 col-md-3"></div>
</div>

<script type="text/javascript">
	$('.accTypeInfoLink').click(function() { console.log("click"); $('.accTypeInfo').toggle('fast'); });
	function scientistCheck() {
		if(register.isScientist.value == 'true') {
			$('.ORCIDDiv').show('fast');
		} else {
			$('.ORCIDDiv').hide('fast');
		}
	}
	scientistCheck();
</script>

<% include ../partials/footer %>