<% include ../partials/header %>

<%= regEx %>

<div class="row">
	<div class="col col-xs-0 col-sm-2 col-md-3"></div>
	<div class="col col-xs-12 col-sm-8 col-md-6">
		<h3>Sign up for a WikiFindings account</h3>
		<form action="/register" method="POST">
			<div class="registerFormDiv">
				<h5 class="registerLabel">Username: </h5>
				<input required type="text" name="username" placeholder="Username">
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Password: </h5>
				<input required type="password" name="password" placeholder="Password" minlength="8" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
				<i class="fa fa-info-circle tooltip" aria-hidden="true">
					<span class="tooltiptext">Passwords must:
						<ul>
							<li>Be at least 8 characters long</li>
							<li>Include at least one letter</li>
							<li>Include at least one number</li>
						</ul>
					</span>
				</i>
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Confirm: </h5>
				<input required type="password" name="confirm" placeholder="Confirm password">
			</div>
			<div class="registerFormDiv">
				<h5 class="registerLabel">Email: </h5>
				<input required type="email" name="email" placeholder="Email">
			</div>
			<h5>Type of account</h5><span>

			<div class="radio">
				<label><input type="radio" name="isScientist" value=false checked="checked">Regular user</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="isScientist" value=true>Scientist</label>
			</div>
			<a href="#">What's the difference between account types?</a></span>

			<hr />

			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="col col-xs-0 col-sm-2 col-md-3"></div>
</div>

<% include ../partials/footer %>